{% comment %}
Featured product carousel
For settings go to Admin -> Theme -> Customize Theme -> Home page
{% endcomment %}
<section class="section" style="min-height:600px;">
<span class="section__subtitle" style="text-align: center;">
  <a href="/collections/featured-products">Featured Products</a>
</span>
<div class="carousel__navigation" style="width: 10%;float: left;">
  <!-- Add Arrows -->
  <button class="homepage-swiper-btn-prev homepage-swiper-btn-prev2 carousel-button-prev">
    <svg viewBox="0 0 18 18" data-reactid=".2akuon0ef4.1.2.0.0.1.0:$experiences_11.0.1.3.0.0.0.0"><path d="M13.703 16.293a1 1 0 1 1-1.415 1.414l-7.995-8a1 1 0 0 1 0-1.414l7.995-8a1 1 0 1 1 1.415 1.414L6.413 9l7.29 7.293z" data-reactid=".2akuon0ef4.1.2.0.0.1.0:$experiences_11.0.1.3.0.0.0.0.0"></path></svg>
    
  </button>
</div>
<!-- Swiper -->
<div class="swiper-container carousel carousel--homepage" style="width:80%; float:left;">
  <div class="swiper-wrapper">
    {% for product in collections[section.settings.featured_collection2].products %}
      <div class="swiper-slide" data-img-bg="{% if product.featured_image.size > 0 %}{{ product.featured_image | img_url: 'large'}}{% else %}{{ 'img_no_image.jpg' | asset_url }}{% endif %}">
        {% include 'product-item-grid' %}
      </div>
    {% endfor %}
    <div class="swiper-active-slide"></div>
  </div>

</div>
<div class="carousel__navigation" style="width: 10%;float: right;">
  <!-- Add Arrows -->
  <button class="homepage-swiper-btn-next homepage-swiper-btn-next2 carousel-button-next">
    <svg viewBox="0 0 18 18" style="float:left" data-reactid=".2cplo9u29s0.1.2.0.0.1.0:$experiences_5.0.1.3.2.0.0.0"><path d="M4.293 1.707A1 1 0 1 1 5.708.293l7.995 8a1 1 0 0 1 0 1.414l-7.995 8a1 1 0 1 1-1.415-1.414L11.583 9l-7.29-7.293z" data-reactid=".2cplo9u29s0.1.2.0.0.1.0:$experiences_5.0.1.3.2.0.0.0.0"></path></svg>
  </button>
  <!-- Add Pagination -->
</div>
</section>
  
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Initialize SwiperinitHomepageCarousel
    function initHomepageCarousel() {
      var activeSlideContainer = document.querySelector('.swiper-active-slide');
      // Featured carousel
      var allowLinksClick = true;
      var carouselHomepage = new Swiper('.carousel--homepage', {
        nextButton: '.homepage-swiper-btn-next2',
        prevButton: '.homepage-swiper-btn-prev2',
        preventClicks: false,
        spaceBetween: 10,
        slidesPerGroup: 6,
        slidesPerView: 6,
        loop: false,
        autoplay: 4000,  //in ms  "{{ settings.homepage_featured_autoplay }}",
        onInit: function(carouselHomepage) {
          var slideNumber = carouselHomepage.slides.length;
          var bdImage, slideLink;
          activeSlideContainer.textContent = carouselHomepage.activeIndex + 1 + "/" + slideNumber;
    
          for ( var i = 0, max = slideNumber; i < max; i++ ) {
            bdImage = carouselHomepage.slides[i].getAttribute('data-img-bg');
            slideLink = carouselHomepage.slides[i].querySelector('.product__link ');
            slideLink.style.backgroundImage = 'url(' + bdImage + ')';
          }    
        },
        onSlideChangeStart: function(carouselHomepage) {
          var slideNumber = carouselHomepage.slides.length;
          activeSlideContainer.textContent = carouselHomepage.activeIndex + 1 + "/" + slideNumber;
        },
        preloadImages: false,
        lazyLoading: true,
        breakpoints: {
          2048:{ //or less than
              slidesPerView: 5,
              slidesPerGroup: 5
          },
          1506:{
              slidesPerView: 4,
              slidesPerGroup: 4
          },
          1024: {
            slidesPerView: 3,
            slidesPerGroup: 3
          },
          768: {
            slidesPerView: 2,
            slidesPerGroup: 2
          },
          480: {
            slidesPerView: 1,
            slidesPerGroup: 1
          }
        }
      });
    }
                
    if ( typeof Swiper !== 'undefined' && typeof Swiper === 'function' ) {
      initHomepageCarousel();
    } else {
      require("{{ 'swiper.min.js' | asset_url }}", initHomepageCarousel);
    }
  });
</script>

{% schema %}
  {
    "name": "Feature Collection2",
    "settings": [
      {
        "type": "collection",
        "id": "featured_collection2",
        "label": "Feature Collection2"
      },
      {
        "type": "text",
        "id": "autoplay",
        "label": "Time for changing slides",
        "info": "If this parameter is not specified, autoplay will be disabled"
      }
    ],
	"presets": [
      {
        "name": "Feature Collection2",
        "category": "Collections"
      }
    ]
  }
{% endschema %}


      