{%- if section.settings.color_header_bg -%}
		<style>
		@media (min-width: 769px) {
		  .header {
				background-color: {{-section.settings.color_header_bg-}};
			}
		}
		</style>
{%- endif -%}
	
{% if section.settings.fixed_bar_enable %}
      {% include 'additional-mobile-menu' %}
{% endif %}

  {% assign current_page_title = page_title | handle %}

	{% comment %}
    Snippet for header with navigation and shopping cart
    For setting go to Admin -> Theme -> Customize Theme -> Header
    {% endcomment %}
    <header class="header 
		{% if template == 'index' and section.settings.transparent_home_enable %}header--clear{% endif %} 
		{% if template == 'product' and product.featured_image.size > 0 %} header--clear{% endif %} 
		{% if current_page_title == 'landing-page' or template == 'cart' or section.settings.fixed_header == false %} header--fixed-off{% endif %}">
			<div class="header-wrapper">


        {% comment %} Dropdown for currency {% endcomment %}
        {% include 'currency-picker' %}


        <style>
            .header{
				width: 100%;
				position: fixed;
				left: 0;
            }
            .header .fixed{
                          transform: translate3d(0, 0, 0) !important;
                      }
			.header-wrapper{
				height: 120px;
				background: #f8eedd;

			}

			#cart-open-btn{
				right: 17px;
				z-index: 101;
				top: 6px !important;
			}
			.drawer__wrapper{
				float: left;
			}

			.header-top-banner{
				margin-left: calc(100vw / 2 - 944px / 2);
				margin-right: calc(100vw / 2 - 944px / 2);
				box-sizing: border-box;
				width:944px;
				height:45px;
				background:#f8eedd;
				position: fixed;
				top:0;
				left:0;
				border-bottom: solid 1px gray;
				z-index: 100;
				text-transform: uppercase;
				line-height: 3;
			}
			.header-top-banner > span{
				margin-right: calc(100vw / 2 - 944px / 2);
				display: block;
				float: left;
			}
        </style>

		<div class="header-top-banner">
			<span>free shipping on $49+</span>
			<!--combine with home-cart-drawer-->
			<button id="cart-open-btn" class="cart-open-btn" type="button">
          <span class="cart-total">
            <span class="money">{{ cart.total_price | money }}</span>
          </span>
				<span class="icon icon--cart">
            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="16" height="20" viewBox="0 0 16 20">
              <path d="M14.000,20.000 L2.000,20.000 C0.895,20.000 -0.000,19.105 -0.000,18.000 L-0.000,7.000 C-0.000,5.896 0.895,5.000 2.000,5.000 L4.000,5.000 L4.000,4.000 C4.000,1.791 5.791,0.000 8.000,0.000 C10.209,0.000 12.000,1.791 12.000,4.000 L12.000,5.000 L14.000,5.000 C15.105,5.000 16.000,5.896 16.000,7.000 L16.000,18.000 C16.000,19.105 15.105,20.000 14.000,20.000 ZM10.000,4.000 C10.000,2.895 9.105,2.000 8.000,2.000 C6.895,2.000 6.000,2.895 6.000,4.000 L6.000,5.000 L10.000,5.000 L10.000,4.000 ZM14.000,8.000 C14.000,7.448 13.552,7.000 13.000,7.000 L3.000,7.000 C2.448,7.000 2.000,7.448 2.000,8.000 L2.000,17.000 C2.000,17.552 2.448,18.000 3.000,18.000 L13.000,18.000 C13.552,18.000 14.000,17.552 14.000,17.000 L14.000,8.000 ZM12.000,17.000 C11.448,17.000 11.000,16.552 11.000,16.000 L11.000,13.000 C11.000,12.448 11.448,12.000 12.000,12.000 C12.552,12.000 13.000,12.448 13.000,13.000 L13.000,16.000 C13.000,16.552 12.552,17.000 12.000,17.000 Z" class="cls-1"/>
            </svg>
          </span>

				<span id="cartCount" class="cart-count">0</span>
				<span class="fallback-text">{{ 'layout.cart.open_cart' | t }}</span>
			</button>
		</div>
        <!-- *** Menu *** -->
		{% include 'header-menu' %}
        <!-- *** End menu *** -->

        <!-- *** Shopping cart *** -->
		{% include 'home-cart-drawer' %}
        <!-- *** End shopping cart *** -->

      </div>
	  <!-- end header-wrapper -->
    </header>

    {% schema %}
      {
        "name": "Header",
        "settings": [
          {
            "type": "header",
            "content": "Fixed header"
          },
          {
            "type": "checkbox",
            "id": "fixed_header",
            "label": "Use a fixed header",
            "default": true
          },

          {
            "type": "header",
            "content": "Mega menu for collections (desktop layout)"
          },
		      {
            "type": "link_list",
            "id": "collection_link",
            "label": "Navigation link with collection"
          },
          {
            "type": "checkbox",
            "id": "main_menu_collection_enable",
            "label": "Use image and description",
            "info": "Image and description will be taken from the collection"
          },
          {
            "type": "text",
            "id": "main_menu_collections",
            "label": "Collections for the collection mega menu",
            "info": "Separated with commas"
          },
          {
            "type": "header",
            "content": "Fixed top bar for mobile devices"
          },
          {
            "type": "checkbox",
            "id": "fixed_bar_enable",
            "label": "Show fixed top bar"
          },
          {
            "type": "checkbox",
            "id": "fixed_bar_search_enable",
            "label": "Show search icon"
          },
          {
            "type": "link_list",
            "id": "fixed_bar_links",
            "label": "Links",
            "info": "Max 4 links"
          },
          {
            "type": "header",
            "content": "Header styling"
          },
          {
            "type": "checkbox",
            "id": "transparent_home_enable",
            "label": "Home page header background transparent",
            "default": true
          },
          {
             "type":"color",
             "id":"color_header_bg",
             "label":"Header background color"
          }
        ]
      }
    {% endschema %}
