{%- if section.settings.color_header_bg -%}
		<style>
		@media (min-width: 769px) {
		  .header {
				background-color: {{-section.settings.color_header_bg-}};
			}
		}
		</style>
{%- endif -%}
	
{% if section.settings.fixed_bar_enable %}
      {% include 'additional-mobile-menu' %}
{% endif %}

  {% assign current_page_title = page_title | handle %}

	{% comment %}
    Snippet for header with navigation and shopping cart
    For setting go to Admin -> Theme -> Customize Theme -> Header
    {% endcomment %}
    <header class="header 
		{% if template == 'index' and section.settings.transparent_home_enable %}header--clear{% endif %} 
		{% if template == 'product' and product.featured_image.size > 0 %} header--clear{% endif %} 
		{% if current_page_title == 'landing-page' or template == 'cart' or section.settings.fixed_header == false %} header--fixed-off{% endif %}">
			<div class="header-wrapper">
        <!-- Header search form -->
        {% if settings.search_header_type == 'expanded' %}
          {% include '_header[search-expanded]' %}
        {% else %}
          {% include '_header[search-compact]' %}
        {% endif %}

        {% comment %} Dropdown for currency {% endcomment %}
        {% include 'currency-picker' %}


        <style>
            header{
            }
            .header .fixed{
                          transform: translate3d(0, 0, 0) !important;
                      }
            .header-top-banner{
                width:100%;
                height:30px;
                background:#f5e7ba;
                position: fixed;
                top:0;
                left:0;
            }
			#main-nav{
				top: 30px;
				height: 70px;
				position: fixed;
				width:100%;
				background: red;


			}
            .logo-container{
				position: relative;
				height: auto;
				float: left;
                background: rgba(64, 140, 135, 0.54);
                width:200px;
                //height:50px;
            }
			.drawer__wrapper{
				float: left;
			}
        </style>

        <div class="header-top-banner">
            free shipping on $49+
        </div>

        <!-- *** Menu *** -->
		{% include 'header-menu' %}
        <!-- *** End menu *** -->

        <!-- *** Shopping cart *** -->
		{% include 'home-cart-drawer' %}
        <!-- *** End shopping cart *** -->

      </div>
	  <!-- end header-wrapper -->
    </header>

    {% schema %}
      {
        "name": "Header",
        "settings": [
          {
            "type": "header",
            "content": "Fixed header"
          },
          {
            "type": "checkbox",
            "id": "fixed_header",
            "label": "Use a fixed header",
            "default": true
          },

          {
            "type": "header",
            "content": "Mega menu for collections (desktop layout)"
          },
		      {
            "type": "link_list",
            "id": "collection_link",
            "label": "Navigation link with collection"
          },
          {
            "type": "checkbox",
            "id": "main_menu_collection_enable",
            "label": "Use image and description",
            "info": "Image and description will be taken from the collection"
          },
          {
            "type": "text",
            "id": "main_menu_collections",
            "label": "Collections for the collection mega menu",
            "info": "Separated with commas"
          },
          {
            "type": "header",
            "content": "Fixed top bar for mobile devices"
          },
          {
            "type": "checkbox",
            "id": "fixed_bar_enable",
            "label": "Show fixed top bar"
          },
          {
            "type": "checkbox",
            "id": "fixed_bar_search_enable",
            "label": "Show search icon"
          },
          {
            "type": "link_list",
            "id": "fixed_bar_links",
            "label": "Links",
            "info": "Max 4 links"
          },
          {
            "type": "header",
            "content": "Header styling"
          },
          {
            "type": "checkbox",
            "id": "transparent_home_enable",
            "label": "Home page header background transparent",
            "default": true
          },
          {
             "type":"color",
             "id":"color_header_bg",
             "label":"Header background color"
          }
        ]
      }
    {% endschema %}
