<div style="top: 33px; position: relative; background: white; height: 45px;">
	<a href=" " style="display: block; height:100%;width:100%;">
		<div class="center" style="height:100%; -webkit-box-align: center; -webkit-align-items: center; align-items: center;margin-left: calc(100vw / 2 - 1000px / 2);margin-right: calc(100vw / 2 - 1000px / 2);">
			<div style="color: #41B1C1; font-size: 13px; line-height: 16px;font-weight: 700;">
				<p>Been gifted Snackoobox? (Lucky you) Claim your gift now</p>
			</div>
		</div>
	</a>
</div>